<div class="bottom-mask">
	<div class="bottom-radius-home">

<div class="hero">
	{{if "phone" == { mobile_detect } }}
		<img src="{{ theme:asset src="img/placeholder.jpg" }}" class="img-fill">
	{{ else }}
	<video playsinline autoplay muted poster="{{ hero_static }}">
	    <source src="{{ video_link }}" type="video/mp4">
	</video>
	{{ endif }}
	
  <div class="top-content-section"></div>
</div>
	</div>
</div>

<div id="content-section" data-magellan-target="content-section">

	
	<section class="home">
		<div class="row align-center">
			<div class="small-12 columns">
				<h1 class="text-center">{{ main_headline }}</h1>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row align-center">
			<div class="small-12 columns">
				<h2>Featured Location</h2>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row align-center">
			<div class="small-12 columns">
				<h2>Promos go here.</h2>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row align-center">
			<div class="small-12 columns">
				<h2>Quote</h2>
			</div>
		</div>
	</section
	
	<section class="callout panel">
		<div class="row">
			<div class="small-12 columns">
				<h2>Bunny News</h2>
			</div>
		</div>
	</section>
</div>
