<div class="bottom-mask">
	<div class="bottom-radius-home">

		<div class="hero">
			{{if "phone" == { mobile_detect } }}
				<img src="{{ theme:asset src="img/placeholder.jpg" }}" class="img-fill">
			{{ else }}
			<video playsinline autoplay muted loop poster="{{ hero_static }}">
			    <source src="{{ video_link }}" type="video/mp4">
			</video>
			{{ endif }}
			<div class="top-content-section"></div>
		</div>
	</div>
</div>

{{ if open_for_business }}
	<div id="schedule" class="row">
		<div class="small-12 medium-10 medium-offset-1 columns">
			
			<div class="callout secondary">
				<div class="row">
					<div class="small-12 medium-2 columns">
						<h5 class="small-centered">Reserve a Pod</h5>
					</div>
					<form>
						<div class="small-12 medium-2 columns">
						  <select required>
							<option value="location" selected>Location</option>
							{{ collection:locations }}
						    <option value="{{ city | slugify }}">{{ city }}</option>
							{{ /collection:locations }}
						  </select>
						</div>
						<div class="small-12 medium-3 columns">
							<input type="date" id="start" name="date" value="{{ now format="Y-m-d"  }}" min="{{ now format="Y-m-d" }}" max="" required>
						</div>
						<div class="small-12 medium-2 columns">
							<input type="time" name="time" value="12:00" step="1800" placeholder="time" required>
						</div>
						<div class="small-12 medium-1 columns">
							<input type="number" value="" name="hours" placeholder="hrs" min="1" max="8" required>
						</div>
						<div class="small-12 medium-2 columns">
							<input class="button tiny expanded" type="submit" value="Check Availability">
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
{{ endif }}

<div class="container">	
	<section>
		<div class="row align-center">
			<div class="small-12 columns">
				<h1 class="text-center">{{ main_headline }}</h1>
			</div>
		</div>
	</section>
	
	<!-- featured location -->
	<section>
		<div class="row">
			<div class="small-12 columns">
				<h2>{{ if open_for_business }}Featured Location{{ else }}Coming Soon{{ endif }}</h2>
			</div>
		</div>
		{{ relate:featured_location }}
		<div class="row align-center">
			<div class="small-12 medium-2 columns show-for-medium">
				<a href="{{ url }}">	<img src="{{ thumb_image }}" width="300"></a>
			</div>
			<div class="small-12 medium-4 columns">
				<h3><a href="{{ url }}" style="color: #52485a; border-bottom: none;">{{ title }}</a></h3>
				{{ if open_for_business }}<p><a href="tel:{{ phone }}">{{ phone }}</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{{ url }}#map">MAP</a></p>
				<a href="/make-a-reservation?loc={{ city | slugify }}" class="button hollow round">Make a Reservation</a>{{ endif }}
			</div>
			<div class="small-12 medium-6 columns">
				<div class="arrow">
					<p>{{ short_description }}</p>
				</div>
			</div>
		</div>
		{{ /relate:featured_location }}
	</section>
	
	<section class="show-for-medium">
		<div class="row">
			<img src="{{ theme:asset src="img/divider.svg" }}" />
		</div>
	</section>
	
	<section class="promos">

		<div class="row align-center">
			<div class="small-6 medium-5 columns show-for-medium">
				<img src="{{ glide:promo_1 width="460" height="360" fm="pjpg" dpr="2" }}">
			</div>
			<div class="small-12 medium-2 columns">
				<div class="row" style="margin-bottom: 30px;">
					<div class="small-12 columns">
						<img src="{{ glide:promo_2 width="213" height="213" fm="pjpg" dpr="2" }}">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns show-for-medium">
						<a href="{{ promo_3_link }}">
							<img src="{{ glide:promo_3 width="213" height="213" fm="pjpg" dpr="2" }}">
						</a>
					</div>
				</div>
			</div>
			<div class="small-12 medium-5 columns">
				<div class="row" style="margin-bottom: 30px;">
					<div class="small-12 columns">
						<img src="{{ glide:promo_4 width="460" height="114" fm="pjpg" dpr="2" }}">
					</div>
				</div>
				<div class="row align-center">
					<div class="small-12 columns text-center">
						<img src="{{ glide:promo_5 width="460" height="214" fm="pjpg" dpr="2" }}">
					</div>
				</div>
			</div>
		</div>
		
	</section>
	
	<section>
		<div class="row align-center">
			<div class="small-12 columns text-center">
				<img src="{{ theme:img src="icon-airplane.svg" }}" width="70" class="text-center">
				<h1 class="quote">{{ quote | strip_tags:p }}</h1>
				<p class="attribution">{{ quote_attribution }}</p>
			</div>
		</div>
	</section>
	
	<section class="callout panel news">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<h2>Bunny News</h2>
				{{ relate:featured_news }}
				<h3><a href="{{ url }}">{{ title }}</a></h3>
					<p class="date">{{ news_date }}</p>
					<span class="new-location">{{ news_categories }}<a href="{{ url }}">{{ title }}</a>{{ /news_categories }}</span>
					<p>{{ excerpt }}</p>
				{{ /relate:featured_news }}
			</div>
			<div class="small-12 medium-6 columns text-right show-for-large secondary-nav">
				<h2>more news</h2>
				<ul>
				{{ taxonomy:news_categories }}
				    <li><a href="{{ url }}">{{ title }}</a></li>
				{{ /taxonomy:news_categories }}
				</ul>
			</div>
		</div>
	</section>
</div>
