<div class="off-canvas-wrapper">

	<!-- Off-Canvas -->
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
		
		<img src="{{ theme:img src="logo-back.svg" }}" alt="logo" class="back-logo" width="80">
    	
    	<div class="close">
      		<button class="close-button" aria-label="Close menu" type="button" data-close>
        		<span aria-hidden="true">&times;</span>
      		</button>
      	</div>
      
      	<ul id="main-nav" class="vertical menu">
      		{{ nav from="/" scope="tag" exclude="whats-a-pod|corporate-accounts|privacy-policy|terms-of-use|careers" }}
      		<li{{ if is_current or is_parent }} class="active"{{ /if }}>
      			<a href="{{ url }}" class="menu-item-{{ increment }}">{{ tag:nav_title or title }}</a>
      		</li>
      		{{ /nav }}
      	</ul>
      	
	</div>
    
    <!-- Desktop -->
    <div class="off-canvas-content" data-off-canvas-content>

		<div data-sticky-container>
			<div data-sticky data-options="marginTop:0;">

				<div class="top-bar">
    				<div class="top-bar-left show-for-large" id="example-menu">
    					
      					<ul class="vertical medium-horizontal dropdown menu show-for-large" data-responsive-menu="accordion medium-dropdown">
      						<li>
      							<a href="/" style="border: none;"><img src="{{ theme:img src="np-logo-horiz-rgb.svg" }}" alt="logo" width="230"></a>
      						</li>
      					</ul>
	  					
    				</div>
    
    				<div class="top-bar-right show-for-large">
    					<ul class="menu">
							<li><a href="/whats-a-pod" style="border: none;">What's a Pod?</a></li>
							{{ if open_for_business }}
    							<li {{ if segment_1 == 'products' }}class="active"{{ /if }}><a href="/make-a-reservation" class="button small hollow round">Make a Reservation</a></li>
							{{ endif }}
							<li><a data-toggle="offCanvas" class="float-right" style="border: none;"><i class="fas fa-bars fa-2x" style="color: white;"></i></a></li>

    					</ul>
    					
    				</div>
    				
    				<!-- Mobile Top Nav -->
    
    				<div class="small-6 columns hide-for-large">
    					<a href="/" class="hide-for-large logo"><a href="/"><img src="{{ theme:img src="np-logo-horiz-rgb.svg" }}" alt="logo" width="160"></a></a>
    				</div>

    			</div><!--/top-bar-->
    		
  			</div><!--/data-sticky-->
  			
		</div><!--/sticky-container-->

