body {
    padding: 0;
    margin: 0;
	font-size: 100%;
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2, h3, h4, h5, h6 {
	color: #52485a;
}

h1 {
	font-size: 2.5em;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	line-height: 1.4;
	text-transform: lowercase;
}

h2 {
	font-size: 1.2em;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	line-height: 1;
	border-left: 3px solid #7fbb42;
	text-transform: lowercase;
	margin-bottom: .8em;
}
h2:before { 
	content: "\00a0 "; 
}

h3 {
	font-size: 1.6em;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	line-height: 1;
}

.container a:link {
  color: #4c8f08;
}

.container a:visited {
  color: #4c8f08;
}

.container a:hover {
  color: #4c8f08;
  border-bottom: 1px dotted #608f30;
}

.container a:active {
  color: #4c8f08;
}

p {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 1em;
	color: #52485a;
}

a {
    color: #d2c9d9;
}

a:hover {
    color: #fff;
}

ul.check li {
    padding-left: 30px;
    list-style-type: none;
    position: relative;
    margin-bottom: 7px;
    text-indent: inherit;
}

ul.check li::before {
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: transparent;
    background: url(../img/ico-list-check-green.svg) no-repeat 50% 50%;
}

section.home {
	background-color: white;
	margin-bottom: 0 !important;
}

section {
	background-color: white;
	margin-bottom: 4em;
}

@media screen and (max-width: 39.9375em) {
	section {
		margin-bottom: 2em;
	}
}

/* Nav */

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none;
  }
}

@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none;
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container {
  z-index: 5;
}

.sticky-container {
    margin-bottom: -90px;
}

.secondary-nav {
	background: #53495a url('/site/themes/nappingbunny/img/secondary-nav-2.png') no-repeat left top;
	padding: 50px 20px 20px 20px;
	min-height: 320px;
	background-size:  contain;
}
.secondary-nav h2 {
	color: #fff;
	font-size: 2em;
	font-weight: 300;
	border: none;
	margin-bottom: .4em;
}
.secondary-nav ul li a:link, .secondary-nav ul li a:visited {
	color: #fff !important;
	
}
.secondary-nav ul {
	list-style: none;
	color: #fff;
	font-size: 1.2em;
}
.secondary-nav .date {
	list-style: none;
	
}
span.new-location a:link, span.new-location a:visited {
	padding: 8px 10px 6px 10px;
	color: #eee !important;
	border-radius: 4px;
	background-color: #53495a;
	text-transform: uppercase;
	font-size: small;
	margin-bottom: 1em;
	display: inline-block;
}

@media screen and (max-width: 39.9375em) {
	.secondary-nav {
		background: #53495a;
		padding: 50px 20px 20px 20px;
		min-height: 320px;
		background-size:  contain;
	}
}

/* Menu */

.menu .button, .menu a {
	font-weight: bolder;
	font-size: 1.2rem;
	text-transform: lowercase;
	padding: .9rem 1.6rem;
}
.menu a:hover, .menu a active {
	border-left: 2px solid #7fbb42;
	transition: 0.3s;
}

.menu a:hover, .menu .active>a {
	border-left: 2px solid #7fbb42;
	background: none;
}

.off-canvas .menu-item-4::before {
	content: "";
	display: block;
	background: url("/site/themes/nappingbunny/img/icn-my-account.svg") no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	margin: -3px 8px 0 0;   
}

.off-canvas .menu-item-5::before {
	content: "";
	display: block;
	background: url("/site/themes/nappingbunny/img/icn-guest-support.svg") no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	margin: 0 8px 0 0;   
}

#main-nav li:nth-child(4):after {
	content: "";
	display: block;
	border-top: 1px solid #47424b;
	margin: 12px 18px;
}

.reveal ul {
	text-align: center;
}
.reveal ul li {
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
	padding: 1em;
}

div#child-modal-1 {
    background: #000000d4;
    margin: 4.5em 0 !important;
}
.reveal hr {
	border-bottom: 1px solid #333;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.top-bar ul {
	background: transparent;
}

.top-bar {
  background: transparent;
  transition:top 0.5s ease;
  transition: background-color 0.5s ease;
  padding-top: 0;
}

.is-stuck .top-bar {
  background-color: #39353b;
  opacity: .9;
  transition: 0.3s;
}

.top-bar .menu li a {
  color: #fefefe;
  font-size: 1rem;
  text-transform: lowercase;
}

.top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

.logo {
	margin: 10px 0;
	display: block;
}
.back-logo {
	margin: 12px 0 18px 18px;
	opacity: .6;
}
.off-canvas {
	background: #39353b;
}
.position-right {
	width: 250px;
}

.js-off-canvas-overlay, .reveal-overlay {
	background: rgba(0, 0, 0, 0.7);
}
.close {
	display: inline-block;
	margin-bottom: 2.5em;
}
.close-button {
	outline: none;
}

/* Headers */
.hero {
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	min-height: 430px;
}
.hero:before {
    content: '';
    display: block !important;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #001b3ac2 0%, #003e5400 80%);
}

.hero h1 {
	color: #fff;
	padding-top: 4em;
	font-weight: 400;
}

.bottom-mask {
	border-radius: 0 0 200% 200%;
	left: -50%;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
	width: 200%;
	z-index: 1;
	margin-bottom: 4em;
}
.bottom-radius {
	border-radius: 0 0 200% 200%;
	overflow: hidden;
	width: 100%;
	height:300px;
	z-index: 1;
}
.bottom-radius img {
	min-width:100%;
	min-height: 300px;
	width:auto;
}

.bottom-radius-home {
	border-radius: 0 0 200% 200%;
	overflow: hidden;
	width: 100%;
	height:580px
}
.bottom-radius-home video {
	margin: 0 auto;
	display: block;
	width: 50%;
}


/* Home Layout */

.callout.secondary {
	background-color: #52485a;
	color: #fff;
	margin-top: -6em;
	z-index: 1;
	border: 1px solid #eee;
	text-transform: lowercase;
	padding: 12px 20px;
	box-shadow: 3px 3px 8px #66666682;
}

#schedule h5 {
	font-size: 1em;
	padding: 10px 0 0 16px;
	font-weight: 600;
	color: #e7deee;
}

#schedule input:not([type=submit]), #schedule select {
	font-size: 1rem;
	background-color: #43374d;
	border: none;
	color: #eee;
	margin-bottom: 0;
}
#schedule .columns {
	padding: 0 3px;
}

#schedule input[type=submit] {
	padding: 12px 0;
	margin: 0;
	font-size: small;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

section.promos img {
	border-radius: 6px;
	background-color: #53495a;
}

.arrow {
	padding: 20px 20px 20px 70px;
	margin-top: -30px;
	background: url("/site/themes/nappingbunny/img/arrow.svg") center left no-repeat #f5f5f5;
	border-radius: 6px;
}
.arrow p {
	margin-bottom: 0;
}

/*-- mobile home ---*/

@media screen and (max-width: 39.9375em) {
  .callout.secondary  {
    margin-top: 0;
    padding: 10px 30px;
  }
  #schedule input, #schedule select {
  	margin: 10px 0;
  }
  #schedule input[type=submit] {
  	margin-top: 18px;
  	margin-bottom: 10px;
  	width: 100%;
  }
  #schedule h5 {
  	text-align: center;
  	font-size: 1.5em;
  }
  .arrow {
  	margin-top: 20px;
  	background: #f5f5f5;
  	padding: 2em;
  }
  .callout.panel.news {
  	padding: 2em 1em 0 1em;
  }
  .bottom-radius-home {
  	height: 175px;
  	margin-bottom: 0;
  }
}


/* Building Blocks */
h1.quote {
	font-size: 2em;
	line-height: 1.2;
	margin: 1em 0;
	text-transform: none;
}
p.attribution {
	text-transform: uppercase;
	font-size: small;
}



video#bgvid {
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/placeholder.jpg) no-repeat;
    background-size: cover; 
}

/* Footer */
footer {
	margin-bottom: 0;
	border-top: 1px solid #333;
	padding: 2em 0 0 0;
	background-color: #53495a;
}
footer h4, footer h5 {
	color: #FFF;
}

footer p {
	color: #d4d4d4;
}
footer hr {
	margin: 10px 0;
	border-bottom: 1px solid #8a8a8a;
}
footer span.date {
	color: #bababa;
}

.copyright {
	color: #947ba3;
	padding: .9rem 1.6rem;
}
.color-strip {
	background-color: #7fbb42;
	padding: .4em 0;
}
.social {
	padding-left: 1em;
	text-align: right;
	width: 100%;
	display: block;
}
.social a {
	margin-left: .6em;
}
.gutter-small {
	padding-right: .5rem !important;
	padding-left: .5rem !important;
	display: inline-block;
}
.thumb-container {
	max-width: 100% !important;
	float: none;
	margin-left: 0 !important;
}

.callout.panel {
	border: none;
	padding: 4em 0;
	background: #f5f5f5;
	margin-bottom: 0;
}

#thumbs img {
   cursor: pointer;
}

/* Content */

.text-image-block {
	margin-bottom: 3em;
}
.image-block {
	margin-bottom: 1em;
}
.text-block {
	margin-bottom: 2em;
}
.grid {
	margin-bottom: 2em;
}
.quote-block {
	margin-bottom: 3em;
}
.accordion-block {
	margin-bottom: 3em;
}
.accordion-content {
	box-shadow: inset 0px 3px 5px 0px #e0dde2;
	background-color: #f9f9f9;
}
.accordion-title:focus, .accordion-title:hover {
    background-color: inherit;
}
li.accordion-item h3 {
    padding-right: 15px;
}
.accordion-controls {
	margin-bottom: 1em;
}
div.accordion-controls a {
	color: #4c8f08 !important;
	text-transform: uppercase;
	font-size: small;
	margin: 0 1em;
}
.container a:hover {
    border-bottom: none;
}
.container a h3:hover {
    color: #4c8f08;
}

/* Buttons */

a.button .radius, button.radius {
	border-radius: 3px;
}
.hero-full-screen button.hollow {
	border: 1px solid #f5f5f5;
	color: #f5f5f5;
}

.button.hollow {
	border: 2px solid #7fbb42;
	padding: 10px 18px;
}

.button.hollow:hover {
    background-color: #7fbb42;
	color: white;
	border: 2px solid #7fbb42;
}

.hero-full-screen button.hollow:hover {
	border: 1px solid #eee;
	color: #eee;
}
.button {
	text-transform: lowercase;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	border: none;
}
a:hover.button {
	color: #eee;
}
.button.hollow.basket {
	border: 1px solid white;
	margin-left: 1em;
	margin-right: 1em;
}

button.round, .button.round {
    border-radius: 1000px; 
}

/* Locations */

ul.tabs li a {
	font-size: 1.1em;
	font-weight: 700;
	text-transform: lowercase;
}

ul.tabs li a:hover {
	border-bottom: none;
}

img.thumb {
	width: 100px;
	height: 60px;
	overflow: ;
}

.share a {
	margin-right: 6px;
	background-color: #53495a;
	color: #c7b6d3;
}

.share a:hover {
	color: #fff;
	background-color: #3a3042;
}

.post {
	margin-bottom: 2em;
}

.card-divider h4, .card-divider h5  {
	margin-bottom: .0;
}

.card {
	position: relative;
}

p.label-offset {
	margin-top: -2em;
}
li.product-slide {
	list-style: none;
}

h3.price {
	margin: 1em 0;
	font-weight: bold;
}

.tabs-content {
    background: none;
    border: none;
}

/* Videos */
.vimeo {
	margin-top: 1.5em;
}

body.section-video .img-holder {
	background: black;
	max-height: 157px;
	overflow: hidden;
}