<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
    <link rel="stylesheet" href="{{ theme:css src='foundation.min' }}">
    <link rel="stylesheet" href="{{ theme:css cache_bust='true' }}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,600|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">   
</head>

<body class="section-{{ segment_1 or "home" }}">

    {{ partial:nav }}
    {{ template_content }}
    {{ partial:footer }}
    
	<script src="{{ theme:js src='vendor/jquery' }}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="{{ theme:js src='vendor/foundation.min' }}"></script>
    <script src="{{ theme:js }}"></script>
    <script src="{{ theme:js src='/vendor/what-input' }}"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js'></script>

</body>
</html>
